<div id="footer">
  <div class="logos">
    <a href="https://twitter.com/"><i class="fa-brands fa-square-twitter"></i></a>
    <a href="https://github.com/"><i class="fa-brands fa-square-github"></i></a>
    <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
  </div>
  <br />
  <h5>Copyright © Hack Academy 2022</h5>
</div>
