<!-- Hice un simple header como para tener una mejor idea de la pagina home. Lo podemos borrar y hacer de 0 mañana. 0 drama -->

<style>
    header{
        background: url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80);
        background-size: cover;
    }

    #divHeader{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 25vh;
    }
</style>

<header>
<div class="container"> 
    <div id="divHeader">
        <h1>Hack the blog</h1>
        <small>El Blog de Hack Academy</small>


    </div>




</div>
</header>