<style>

    .container{
        position: absolute;
        width: 1920px;
        height: 57px;
        left: 0px;
        top: 0px;

        background: #000000;
    }

    .title{
        position: absolute;
        width: 142px;
        height: 27px;
        left: 348px;
        top: 15px;

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
    }

    #btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px 12px;
        gap: 8px;

        position: absolute;
        width: 71px;
        height: 31px;
        left: 1500px;
        top: 13px;

        background: #0D6EFD;
        border-radius: 4px;
    }

</style>




<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="title">Hack de blog</h1>
        <a href="" id="btn" class="btn-btn-sucess">Admin</a>
    </div>
</div>


