<style>
  #navbar {
    background-color: black;
    padding: 5px;
  }
  .navbarTitle {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: white;
  }
</style>
<nav id="navbar">
  <div class="d-flex justify-content-between adminHeader">
      <a href="/" id="button" class="btn btn-primary">HOME</a>

      <h4 class="navbarTitle">Hack the Blog (ADMIN)</h4>
      
      <a href="/" id="button" class="btn btn-danger">Log Out</a>
    </div>
  </div>
</nav>
