<style>

    .navbar{
        width: 1920px;
        height: 57px;
        left: 0px;
        top: 0px;
        background: #000000;
    }

    .title{
        width: 142px;
        height: 27px;
        left: 348px;
        top: 15px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
    }

    #button{
        padding: 4px 12px;
        gap: 8px;
        color: white;
        width: 71px;
        height: 31px;
        top: 13px;
        background: #0D6EFD;
        border-radius: 4px;
        
    }

</style>

<div class="navbar">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="title">Hack de blog</h1>
        <a href="" id="button" class="btn-btn-sucess">Admin</a>
    </div>
</div>


