<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Hack de blog</h1>
        <a href="/partials/Admin" class="btn-btn-sucess">Admin</a>
    </div>
</div>