<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Crear Articulo</title>
  </head>
  <body>
    <%- include("./partials/navbar-admin") %>
    <div class="d-flex justify-content-center container mt-4 p-4">
      <h5>Publicar un nuevo articulo</h5>
    </div>
<div class="container">
    <form action="/admin" class="container mt-4 crearArticulo" method="post">
      <div class="container p-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="ingresarNombre"
            name="ingresarNombre"
            placeholder="Ingresar nombre..."
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Apellido</label>
          <input
            type="text"
            class="form-control"
            id="ingresarApellido"
            name="ingresarApellido"
            placeholder="Ingresar apellido..."
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">E-mail</label>
          <input
            type="email"
            class="form-control"
            id="ingresarEmail"
            name="ingresarEmail"
            placeholder="Ingresar e-mail..."
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Titulo</label>
          <input
            type="text"
            class="form-control"
            id="crearTitulo"
            name="crearTitulo"
            placeholder="Ingresar título..."
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Contenido</label>
          <textarea
            class="form-control"
            id="crearContenido"
            rows="3"
            name="crearContenido"
            placeholder="Ingresar texto..."
          ></textarea>
        </div>
        <button type="submit" class="btn btn-success">Crear</button>
      </div>
    </form>
     <button class="btn btn-link">
        <a class="back" href="/admin">
          <i class="fa-solid fa-left-long"></i> Volver
        </a>
      </div>
  </body>
</html>
