<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/stylesheets") %>
    <title>Home</title>
  
  </head>
  <body>
    <%- include("partials/header") %>
    <section id="SeccionMedia">
      <div class="container">
        <div class="row">


          
        </div>
          <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, sapiente! Maxime, fugiat eligendi. Animi velit, porro maiores eligendi labore cupiditate.</h2>
          <small>Creado por pepito el 24 de septiembre de 2022</small>

      </div>


    </section>


    <%- include("partials/footer") %>
    <%- include("partials/scripts") %>
  </body>
</html>
