/* Colocar aquí CSS "propio" */
@import "footer.css";
/* Código de css página Juanma */
.adminHeader {
  background-color: black;
  color: white;
}

.crearArticulo {
  border: solid 1px;
  border-radius: 2px;
  background-color: #eaeaea;
}

.autor {
  width: 60%;
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #76757d;
  text-align: left;
}

 /*.conteidoArticulo {
   text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
}*/
