/* Colocar aquí CSS "propio" */
@import "footer.css";
/* Código de css página Juanma */
.adminHeader {
  background-color: black;
  color: white;
}

.crearArticulo {
  border: solid 1px;
  border-radius: 2px;
  background-color: #eaeaea;
}

.autor {
  width: 60%;
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #76757d;
  text-align: left;
}

.contenidoArticulo {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}

.img-articulo {
  max-height: 350px;
}

#navbar {
  background-color: black;
  padding: 5px;
}

#navbar h5 {
  color: aliceblue;
}
.navbarTitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: white;
}
