/* Colocar aquí CSS "propio" */

/* Código de css página Juanma */

.adminHeader {
  background-color: black;
  color: white;
}

.crearArticulo {
  border: solid 1px;
  border-radius: 2px;
  background-color: #eaeaea;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  justify-content: center;
}
